<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
    <form action="/register" method="post"><br>
      <label for="username">Enter desired username: </label><br>
      <input type="text" name="username" id="username"><br><br>
      <label for="password"> Enter desired password: </label><br>
      <input type="password" name="password" id="password"><br>
      <input type="submit" name="submit" id="submit" value="Create Account">
    </form>
</body>
</html>